.shop-banner {
  background-image: url("https://pixner.net/aikeu/assets/images/banner/cmn-bg.png");
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  z-index: 1;
  height: 50vh;
}

.before\:transition-background::before {
  background-color: transparent !important;
}

.sidebar-menu-background {
  background-color: transparent;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-image: linear-gradient(
    120deg,
    rgba(95, 236, 70, 0.2),
    rgba(0, 0, 0, 0.2)
  );
}
