.shop-banner {
  background-image: url("https://pixner.net/aikeu/assets/images/banner/cmn-bg.png");
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  z-index: 1;
  height: 50vh;
}

.before\:transition-background::before {
  background-color: transparent !important;
}

.sidebar-menu-background {
  background-color: transparent;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-image: linear-gradient(
    120deg,
    rgba(95, 236, 70, 0.2),
    rgba(0, 0, 0, 0.2)
  );
}

.prompt-card-background {
  background-color: #166d3b;
  background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%);
}

.loader {
  border: 4px solid #5fec46;
  border-top: 4px solid #1f2937;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}
